<div class="centerThis">
        <div >{{{book.url}}}</div>
        <p>{{book.title}}</p>
        <p>{{book.year}}</p>

        <form method="POST" action="/Update" class="form__submit" name="form">
            <input type="hidden" name="bookID" value={{book.id}}>
            <input type="submit" value="Update" class="btn btn-primary form-control update" placeholder="First Name">
        </form>

        <form method="POST" action="/Delete" class="form__submit" name="form">
            <input type="hidden" name="bookID" value={{book.id}}>
            <input type="submit" value="Delete" class="btn btn-primary form-control delete" placeholder="First Name">
        </form>
</div>


<div class="container-fluid  recomended">
    <h3>Recomended by same writer</h3>
    <div class="row">
        {{#each authorBooks}}
            <form method="POST" action="/book" class="form__submit col recomendedBookItems" name="form">
                    <input type="hidden" name="bookID" value={{this.id}}>
                    <div onclick="this.parentNode.submit()">{{{this.url}}}</div>
                    <p>{{this.title}}</p>
                    <p>{{this.year}}</p>
            </form>
        {{/each}}
    </div>
</div>

<div class="container-fluid  recomended">
    <h3>Writen in the same period</h3>
    <div class="row">
        {{#each yearsBooks}}
            <form method="POST" action="/book" class="form__submit col recomendedBookItems" name="form">
                    <input type="hidden" name="bookID" value={{this.id}}>
                    <div onclick="this.parentNode.submit()">{{{this.url}}}</div>
                    <p>{{this.title}}</p>
                    <p>{{this.year}}</p>
            </form>
        {{/each}}
    </div>
</div>
